<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores odit asperiores totam soluta at quisquam corporis aut, ipsa sit perferendis inventore cum, perspiciatis modi error similique necessitatibus iste natus ad?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rerum quisquam adipisci, suscipit nobis pariatur similique recusandae nesciunt earum veniam!</p>
    <a href="https://www.google.com.ar" class="btn btn-primary">Google</a>
</div>